
<div id="TermsModal" class="mfp-hide terms-modal">
  <h1>{{ pages['Handelsbetingelser'].title }}</h1>
  {{ pages['Handelsbetingelser'].content }}
</div>

<div id="EnvironTermsModal" class="mfp-hide environ-terms-modal">
  <h1>{{ pages['Environ vilkår'].title }}</h1>
  {{ pages['Environ vilkår'].content }}
</div>
